@model FindForYou.Models.Observacoes

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center my-4">Deletar</h1>

<h3 class="text-center">Você tem certeza que deseja excluir isto?</h3>
<div class="details-container">
    <h4 class="text-center">Observações</h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered details-table">
            <tbody>
                <tr>
                    <th>Descrição:</th>
                    <td>@Html.DisplayFor(model => model.ObservacoesDescricao)</td>
                </tr>
                <tr>
                    <th>Local:</th>
                    <td>@Html.DisplayFor(model => model.ObservacoesLocal)</td>
                </tr>
                <tr>
                    <th>Data:</th>
                    <td>@Html.DisplayFor(model => model.ObservacoesData)</td>
                </tr>
                <tr>
                    <th>Objeto:</th>
                    <td>@Html.DisplayFor(model => model.Objeto.ObjetoNome)</td>
                </tr>
                <tr>
                    <th>Usuário:</th>
                    <td>@Html.DisplayFor(model => model.Usuario.UsuarioNome)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ObservacoesId" />
        <button type="submit" class="btn btn-danger">Deletar</button> |
        <a asp-action="Index" class="btn btn-secondary">Voltar para lista</a>
    </form>
</div>
