@model FindForYou.Models.Observacoes

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center my-4">Detalhes</h1>

<div class="details-container">
    <h4 class="text-center">Observacoes</h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered details-table">
            <tbody>
                <tr>
                    <th>Descrição:</th>
                    <td>@Html.DisplayFor(model => model.ObservacoesDescricao)</td>
                </tr>
                <tr>
                    <th>Local:</th>
                    <td>@Html.DisplayFor(model => model.ObservacoesLocal)</td>
                </tr>
                <tr>
                    <th>Data:</th>
                    <td>@Html.DisplayFor(model => model.ObservacoesData)</td>
                </tr>
                <tr>
                    <th>Objeto:</th>
                    <td>@Html.DisplayFor(model => model.Objeto.ObjetoNome)</td>
                </tr>
                <tr>
                    <th>Usuário:</th>
                    <td>@Html.DisplayFor(model => model.Usuario.UsuarioNome)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model?.ObservacoesId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar para lista</a>
</div>
