@model IEnumerable<FindForYou.Models.Observacoes>

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-4">Lista de Observações</h1>

<div class="mb-3">
    <a class="btn btn-primary create-btn" asp-action="Create">Criar Novo</a>
</div>

<div class="custom-table-wrapper">
    <table class="table custom-table">
        <thead class="thead-dark custom-thead">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ObservacoesDescricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ObservacoesLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ObservacoesData)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Objeto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObservacoesDescricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObservacoesLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObservacoesData)

                        html
                        Copiar código
                    <td>
                            @Html.DisplayFor(modelItem => item.Objeto.ObjetoNome)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Usuario.UsuarioNome)
                    </td>
                    <td class="custom-table-actions">
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.ObservacoesId">Editar</a>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.ObservacoesId">Detalhes</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ObservacoesId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
