@model FindForYou.Models.Objeto

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center my-4">Deletar</h1>

<h3 class="text-center">Você tem certeza que deseja excluir isto?</h3>
<div class="details-container">
    <h4 class="text-center">Objeto</h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered details-table">
            <tbody>
                <tr>
                    <th>Nome:</th>
                    <td>@Html.DisplayFor(model => model.ObjetoNome)</td>
                </tr>
                <tr>
                    <th>Cor:</th>
                    <td>@Html.DisplayFor(model => model.ObjetoCor)</td>
                </tr>
                <tr>
                    <th>Observação:</th>
                    <td>@Html.DisplayFor(model => model.ObjetoObservacao)</td>
                </tr>
                <tr>
                    <th>Local de Desaparecimento:</th>
                    <td>@Html.DisplayFor(model => model.ObjetoLocalDesaparecimento)</td>
                </tr>
                <tr>
                    <th>Foto:</th>
                    <td>@Html.DisplayFor(model => model.ObjetoFoto)</td>
                </tr>
                <tr>
                    <th>Data de Desaparecimento:</th>
                    <td>@Html.DisplayFor(model => model.ObjetoDtDesaparecimento)</td>
                </tr>
                <tr>
                    <th>Data de Encontro:</th>
                    <td>@Html.DisplayFor(model => model.ObjetoDtEncontro)</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>@Html.DisplayFor(model => model.ObjetoStatus)</td>
                </tr>
                <tr>
                    <th>Usuário:</th>
                    <td>@Html.DisplayFor(model => model.Usuario.UsuarioNome)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ObjetoId" />
        <button type="submit" class="btn btn-danger">Deletar</button> |
        <a asp-action="Index" class="btn btn-secondary">Voltar para lista</a>
    </form>
</div>
